{{!-- User dashboard after login page, listing snippets or making new ones --}}
<title>{{username}}'s Profile</title>
{{> (navbar)}}
<body>
  <h1><a href="/">{{username}}</a>'s Profile</h1>
  {{#if snippets}}
  <div id="snippet-list">
    {{#each snippets.length}}
    <article>
      <h2><a href="/snippets">{{snipName}}</a></h2>
      <p>Date Last Edited: {{dateLastEdit}}</p>
      <p>Date Created: {{dateCreated}}</p>
    </article>
    {{/each}}
  </div>
  {{/if}}
</body>