{{!-- User dashboard after login page, listing snippets or making new ones --}}
<title>{{username}}'s Profile</title>
{{#> navbar }}{{/navbar}}
<section class="profile">
  <h1><a href="/">{{username}}</a>'s Profile</h1>
  <p>Member since {{dateRegistered}}</p>
  <h2>Snippets:</h2>
  {{#if snippets}}
  <div id="snippet-list">
    {{#each snippets.length}}
    <article>
      <h2><a href="/snippets/{{snipId}}">{{snipName}}</a></h2>
      <p>Date Last Edited: {{dateLastEdit}}</p>
      <p>Date Created: {{dateCreated}}</p>
      <!--Pass in a check with person accessing page and who's profile this is-->
      {{#if owner}}
      <a href="/snippets/{{snipId}}" method="DELETE">Delete Snippet</a>
      {{/if}}
    </article>
    {{/each}}
  </div>
  {{else}}
  <p>This user hasn't made any snippets yet!</p>
  {{/if}}
</section>