{{!-- home page before login... maybe wont use. --}}
<title>Homepage</title>
{{#> navbar }}{{/navbar}}
<section class="welcome">
  {{#if loggedOut}}
  <p class="signedUpNotif">Successfully logged out</p>
  {{/if}}
  <h1>Welcome to AsmVis</h1>
  <div class="buttons">
    {{#if res.session.user}}
    {{else}}
    <a href="snippets/" class="btn btn-primary">Use Interpreter</a>
    <a href="users/login" class="btn btn-primary">Log In</a>
    <a href="users/signup" class="btn btn-secondary">Sign Up</a>
    {{/if}}
  </div>
  {{#each snippet}}
  <article>
    <a href="/snippets/{{this.snipId}}"><h2>{{this.snipName}}</h2></a>
    <p>Created by {{this.userId}}, Last edited at {{this.dateLastEdit}}</p>
  </article>
  {{/each}}
</section>
