{{!-- snippet editor page --}}
<title>Snippet Editor</title>
{{#> navbar }}{{/navbar}}
<body>
  <ul class="error" id="errUl" hidden></ul>
  {{#if errors}}
  <ul class="error" id="errorUl">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
  <p id="username" hidden>{{sessionUsername}}</p>
  <p id="snipName" hidden>{{snipName}}</p>
  <p id="snipBody" hidden>{{snipBody}}</p>
<div class="snipDiv">
  <!--Form should be populated with snippet name and code-->
  <ul id="errorUl2"></ul>
  {{#if owner}}
  {{else}}
    <p class="warning">Please log in to save your snippet</p>
  {{/if}}
  <div class="consoles">
    <div class="snipForm">
      <p id="snippetName">{{snipName}}</p>
  <form id="snippetEditor" action='/snippets' method="PATCH">
    {{#if owner}}
    <button id="saveButton" type="submit" class="btn btn-primary">Save Changes</button>
    {{/if}}
    {{#if owner}}
    <p>Created by {{ownerUsername}} on {{dateCreated}}, Last edited on {{dateLastEdited}}</p>
    {{/if}}
    <textarea class="snippetBody" id="snippetBody" name="snippetBody" placeholder="Snippet Body"></textarea>
  </form>
  </div>
  <div class="snipRegs">
  <table class="regTable">
    <tr><td id="reg0">R0: 0</td> <td id="reg1">R1: 0</td></tr> 
    <tr><td id="reg2">R2: 0</td><td id="reg3">R3: 0</td></tr>
    <tr><td id="reg4">R4: 0</td><td id="reg5">R5: 0</td></tr>
    <tr><td id="reg6">R6: 0</td><td id="reg7">R7: 0</td></tr>
    <tr><td id="reg8">R8: 0</td><td id="reg9">R9: 0</td></tr>
    <tr><td id="reg10">R10: 0</td><td id="reg11">R11: 0</td></tr>
    <tr><td id="reg12">R12: 0</td><td id="reg13">R13: 0</td></tr>
    <tr><td id="reg14">R14: 0</td><td id="reg15">R15: 0</td></tr>
  </table>
  <table>
    <tr><td id="remainder">Remainder: 0</td></tr>
    <tr><td id="ip">Instruction Pointer: 0</td></tr>
  </table>
  </div>
  </div>
  <button id="runStepButton" type="button" class="btn btn-primary">Interpret Step</button> 
  <button id="runAllButton" type="button" class="btn btn-primary">Interpret All</button> 
  <button id="resetLine" type="button" class="btn btn-primary">Reset</button>
  <div class="consoles">
    <div id="error_output" class="consoleDiv">Errors: {{asmErrors}}</div>
    <div id="asm_output" class="consoleDiv">ASM output: {{asmOutput}}</div>
  </div>

</body>