{{!-- snippet editor page --}}
<title>Snippet Editor</title>
{{#> navbar }}{{/navbar}}
<body>
  <ul class="error" id="errUl" hidden></ul>
  {{#if errors}}
  <ul class="error" id="errorUl">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
  <p id="username" hidden>{{username}}</p>
  <p id="snipName" hidden>{{snipName}}</p>
  <p id="snipBody" hidden>{{snipBody}}</p>
<div class="snipDiv">
  <!--Form should be populated with snippet name and code-->
  <form id="snippetEditor" action='/snippets/:snippetId' method="POST">
    <input size="50" type="text" id="snippetName" name="snippetName" placeholder="Snippet Name">
    <button id="saveButton" type="submit" class="btn btn-primary">Save Changes</button>
    <button id="runButton" type="submit" class="btn btn-primary">Run Code</button> 
    <p>Created by {{username}} on {{dateCreated}}, Last edited on {{dateLastEdited}}</p>
    <textarea class="snippetBody" id="snippetBody" name="snippetBody" placeholder="Snippet Body"></textarea>
  </form>
  <div class="consoles">
    <div id="error_output" class="consoleDiv">Errors will pop up here{{asmErrors}}</div>
    <div id="asm_output" class="consoleDiv">ASM output will pop up here{{asmOutput}}</div>
  </div>
</div>
</body>